<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href='{% static "css/stylesconnexion.css" %}'>
</head>

<body>
    <div class="container" style="background: url('{% static "images/background2.jpg" %}') no-repeat center center;">
        <div class="header">
            <img src='{% static "images/logo.png" %}' alt="YOU&ME logo" class="logo">
        </div>
        <div class="login-box">
            <h2>Connexion</h2>
            <p>Bienvenue connecte-toi pour accéder aux fonctionnalités</p>
            <a href='{% url "inscription" %}' class="forget-password">Inscrivez-vous si vous n'avez pas un compte?</a>

            <form method="post" action="{% url 'connexion' %}">
                {% csrf_token %}
                <input type="text" name="email"  id="email" placeholder="Adresse email">
                <input type="password" name="password" id="password" placeholder="Mot de passe">
                <button type="submit">Soumettre</button>
            </form>
            {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            <p>               ______________________                 </p>

            <a href="{% url 'password_reset' %}" class="password">Avez-vous oublié votre mot de passe?</a>

            <!-- <button><a href='{% url "info_profil" %}' style="color: inherit; text-decoration: none;">Poursuivre</a></button> -->


        </div>
    </div>
</body>

</html>