<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'Inscription YOU&ME</title>
    <link rel="stylesheet" href='{% static "css/stylesinscrip.css" %}'>
</head>

<body>


    <div class="container" style="background: url('{% static "images/background2.jpg" %}') no-repeat center center;">
        <div class="header">
            <img src='{% static "images/logo.png" %}' alt="YOU&ME logo" class="logo">
        </div>
        <div class="login-box">
            <h2>Inscription</h2>
            <p>Bienvenue inscris-toi pour accéder aux fonctionnalités</p>
            <a href='{% url "connexion" %}' class="Connexion">Avez-vous déjà un compte?</a>

            <form method="post" action="{% url 'inscription' %}">
                {% csrf_token %}
                <input type="text" name="nom" id="nom" placeholder="Nom">
                <input type="text" name="email" id="email" placeholder="Adresse email ">
                <input type="password" name="password" id="password" placeholder="Mot de passe ">
                <button type="submit">Poursuivre</button>
            </form>
        </div>
        
    </div>

</body>

</html>