{% if validlink %}
<h2>Réinitialisation de mot de passe </h2>
<p>Veuillez saisir votre nouveau mot de passe.</p>
<form method="post">
	{% csrf_token %}
	{% if form.new_password1.errors %}
		<ul class="alert alert-danger">
		{% for error in form.new_password1.errors %}
		 <li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if form.new_password2.errors %}
		<ul class="alert alert-danger">
		{% for error in form.new_password2.errors %}
		 <li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<table>		
		<tr>
			<td>
				<label for="id_new_password1">Mon nouveau mot de passe :</label>
			</td>
			<td>{{ form.new_password1 }}</td>
		</tr>
		<tr>
			<td>				
				<label for="id_new_password2">Confirmer mon nouveau mot de passe :</label>
			</td>
			<td>{{ form.new_password2 }}</td>
		</tr>
	</table>
	<button type="submit">Changer mon mot de passe</button>
</form>
{% else %}
<h2>Echec de réinitialisation du mot de passe</h2>
<p>Le lien de réinitialisation de mot de passe est invalide. Veuillez réessayer.</p>
{% endif %}