img
{
    position: relative;
    bottom: 0px;
    right:100px
}
body{

    background-image: linear-gradient(to right, white, #FF5757);
  
}
li.nav-item button:hover
{
    color: white;
    background-color: #FF5757;
}

nav
{
    position: relative;
   bottom:150px;
}
.carousel-item img
{
    height: 350px;
    width: auto;
    border-radius: 75px;
    margin-left: 100px;
    position: relative;
    top: 0px;
}
#carouselExampleIndicators
{
    position: relative;
    bottom: 250px;
    background-color:white;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 70px;
}
h3{
    color: #FF5757;
}

.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 16px;
    margin-left: 20px;
  }
  
  /*.nav-link.active,
  .nav-link:hover {
    color: white !important;
    background-color: #FF5757;
  }*/
  
  li.nav-item
  {
    position: relative;
    bottom: 30px;
  }