a.navbar-brand 
{
    position: relative;
    bottom: 0px;
    right:150px
}
body{

  background-image: linear-gradient(45deg, white, #e0b7b7);

}
li.nav-item button:hover
{
    color: white;
    background-color: #FF5757;
}


h1 {
  color: black;
  background-image: linear-gradient(-45deg, white, #FF5757);
  border-radius: 30px;
}

h1{
  font-size: 130px;
}

nav
{
    position: relative;
   bottom:150px;
}
.carousel-item img
{
    height: 350px;
    width: auto;
    border-radius: 75px;
    margin-left: 20px;
    position: relative;
    top: 0px;
}

.carousel-indicators li
{
 position: relative;
 top:20px
}
#carouselExampleIndicators
{
    position: relative;
    bottom: 250px;
    background-color:white;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 70px;
}
h3{
    color: #FF5757;
}

.navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 16px;
    margin-left: 20px;
  }
  
  /*.nav-link.active,
  .nav-link:hover {
    color: white !important;
    background-color: #FF5757;
  }*/
  
  li{
    position: relative;
    bottom: 30px;
  }