body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ea6d95;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ea6d95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.messages {
    margin-bottom: 20px;
}

.messages p {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.messages p.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.messages p.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

form {
    display: flex;
    flex-direction: column;
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    margin-bottom: 5px;
}

form input, form select, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #ea6d95;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #ea6d95;
}
