body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(45deg, white, #FF5757);
    background-size: cover;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    z-index: 1;
    text-align: center;
}

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.logo {
    height: 70px;
}

.login-box {
    text-align: center;
    margin: 50px 0;
    padding: 30px;
    /* background: rgba(255, 255, 255, 0.9); */
    border-radius: 10px;
}

.login-box p {
    color: #4a4a4a;
}

.Connexion {
    color: #FF6E6E;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid#ccc;
    border-radius: 5px;
}

button {
    width: 320px;
    padding: 10px;
    background: linear-gradient(45deg, #FF6E6E, #ff9a00);
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}