<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de Profils</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <!-- <div class="user-info">
            <img src="{{ user.profile_picture.url }}" alt="Photo de {{ user.username }}">
            <span>{{ user.username }}</span>
        </div> -->
        <a href="{% url 'deconnexion' %}" class="logout-button">Déconnexion</a>
    </div>
    <div class="navbar col-md-6">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-light rounded-5 shadow-sm" id="pillNav2" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link rounded-5" id="search-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a href="{% url 'recherche_profiles' %}">Recherche</a></button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active rounded-5" id="suggestion-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"><a href="{% url 'suggestion_profiles' %}">Suggestions</a></button>
            </li>
        </ul>
    </div>
    <form method="GET" action="{% url 'recherche_profiles' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Rechercher" class="btn btn-primary">
    </form>

    {% for profile in profiles %}
    <div class="card" style="width: 18rem;">
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}" alt="Photo de {{ profile.nom }}" style="width:100px;height:auto;">
        {% else %}
            <img src="{% static 'images/profile.png' %}" alt="Photo de {{ profile.nom }}" style="width:100px;height:auto;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ profile.utilisateur.nom }}, {{ profile.age }}</h5>
          <p class="card-text">
            <strong>Sexe:</strong> {{ profile.sex }} <br>
            <strong>Hobbies:</strong> {{ profile.hobbies }} <br>
            <strong>Location:</strong> {{ profile.location }}<br>
            <strong>Orientation:</strong> {{ profile.orientation }}<br>
            <strong>Silhouette:</strong> {{ profile.body_type }}<br>
          </p>
          <a href="#" class="btn btn-primary">Envoyer un message</a>
        </div>
      </div>
    {% endfor %}
</body>
</html>