<!Doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YouMe - Recherche</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/svg" href="C:\Users\ALLOGNONGabin\OneDrive\Bureau\Projet-Int-grateur\static\images\favicon.svg">
    <link rel="stylesheet" href='{% static "css/recherche.css" %}'>
    <style>
     
    </style>
  </head>
  <body>

    <!-- Header -->
    <header class="bg-transparent text-center py-3">

      <div class="youme">
            <img src='{% static "images/logomoise.svg" %}' alt="you&Me">
      </div>

      <div class="navigate">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small rounded-5 bg-light shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-dark); --bs-nav-pills-link-active-color: var(--bs-white); --bs-nav-pills-link-active-bg: var(--bs-red);">
        <li class="nav-item" role="presentation">
          <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true"><a href="{% url 'suggestion_profiles' %}"  style="color: inherit; text-decoration: none;">Suggestions</a></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false"><a href="{% url 'recherche_profiles' %}"  style="color: inherit; text-decoration: none;">Recherche</a></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false" ><a href="#"  style="color: inherit; text-decoration: none;">Chats</a></button>
        </li>
        </ul>  

        <div class="profile-dropdown">

        <div class="profile-img">
            {% if user.photo.value %}
            <img src="{{ profile.photo.url }}" alt="Photo de profil">
            {% else %}
            <img src="{% static 'images/profile.png' %}" alt="">
            {% endif %}
        </div>

        <div class="menu">
        <ul>
            <li>
                <a href="{% url 'profile' %}">Mon Profil</a>
            </li>
            <li>
                <a href="{% url 'deconnexion' %}">Déconnexion</a>
            </li>
        </ul>
        </div>

        </div>
      </div>
    
      <ul>
      <div class="filterBx">
          <li class="list filter-button"><img src='{% static "images/filter-circle-outline.svg" %}' alt="filter-button"></li>
          <p>Filtres</p>
      </div>
      </ul>

    </header>

    <!-- RESULTATS RECHERCHES -->
    <div class="container mt-5">


      <h2 class="text-center mt-4 text-dark">Recherche de profils</h2>
  
      <!-- Profils correspondant à la recherche -->
    <div class="row mt-4">
        {% for profile in profiles %}
        <div class="col-md-3 mb-4">
            <div class="card">
                    {% if profile.photo %}
                    <img src="{{ profile.photo.url }}" alt="Photo de {{ profile.nom }}" style="width:100px;height:auto;">
                    {% else %}
                    <img src="{% static 'images/profile.png' %}" alt="Photo de {{ profile.nom }}" style="width:100px;height:auto;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'profile_detail' profile.pk %}" style="color: #FF5757; text-decoration: none;">{{ profile.utilisateur.nom }}</a>, {{ profile.age }}</h5>
                        <p class="card-text">Sexe : {{ profile.sex }} </p>
                        <p class="card-text">Localisation: {{ profile.location }}</p>
                        <p class="card-text">Centres d'intérêts: {{ profile.hobbies }}</p>
                        <p class="card-text">Orientation: {{ profile.orientation }}</p>
                        <p class="card-text">Silhouette: {{ profile.body_type }}</p>
                    </div>
                    <a href="#" class="btn" style="background-color: #FF5757; text-decoration: none">Envoyer un message</a>                
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- ONGLET FILTRAGE -->
    <div class="overlay-container hidden">
    <div class="overlay">
      <div class="filter-container">
        <h2>Filtrer les résultats</h2>
           
        <form method="GET" action="{% url 'recherche_profiles' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button id="apply-filters" type="submit">Appliquer les filtres</button>
                <button id="reset-filters" type="reset">Réinitialiser</button>
            </div>
        </form>
      </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{% static 'js/recherche.js' %}"></script>
  </body>
</html>
