<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Suggestion de Profils</title>
</head>
<body>
    <button type="submit"><a href='{% url "deconnexion" %}' style="color: inherit; text-decoration: none;">Poursuivre</a></button>
    {% for profile in suggested_profiles %}
        <h1>Profile de :  {{ profile.utilisateur.nom }}</h1>
        <!-- <p>Email: {{ profile.utilisateur.email }}</p> -->
        <p>Photo: <img src="#" alt="Photo de profil"></p>
        <p>Âge: {{ profile.age }}</p>
        <p>Taille: {{ profile.height }}</p>
        <p>Sexe: {{ profile.sex }}</p>
        <p>Orientation: {{ profile.orientation }}</p>
        <p>Type de corps: {{ profile.body_type }}</p>
        <!-- <p>Régime: {{ profile.diet }}</p>
        <p>Boissons: {{ profile.drink }}</p>
        <p>Drogues: {{ profile.drugs }}</p>
        <p>Éducation: {{ profile.education }}</p>
        <p>Localisation: {{ profile.location }}</p>
        <p>Enfants: {{ profile.offspring }}</p>
        <p>Fume: {{ profile.smokes }}</p>
        <p>Bio: {{ profile.bio }}</p> -->
    {% endfor %}
    <button type="submit"><a href='{% url "recherche_profiles" %}' style="color: inherit; text-decoration: none;">Poursuivre</a></button>
</body>
</html>

<!-- <h1>Profils suggérés</h1>
<ul>
    {% for profile in suggested_profiles %}
    <li>{{ profile.utilisateur.email }} - {{ profile.age }} ans</li>
    {% endfor %}
</ul> -->
