body {
    font-family: Arial,sans-serif;
    margin: 0px;
    padding: 0px;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo {
    width: 120px;
    height: 75px;
    border-radius: 45px;
    border-width: 2px;
    background-color: blueviolet;
    margin-top: 10px;
}
.cont-form {
    display: inline;
}
#cont {
    border: 2px solid blueviolet;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin-left: 300px;
    border-radius: 9px;
    margin-top: -70px;
    cursor: pointer;
    background-color: transparent;
}
#cont {
    cursor: pointer;
}
#cont:hover {
    background-color: darkorchid;
}
.centered {
    font-style: italic;
    text-color: black;
    margin-left: 290px;
    display: flex;
    justify-content: center;
}
.sexe {
    text-align: center;
    text-decoration: black;
    margin-left: 350px;
    margin-top: 25px;
    font-style: italic;
}
.hom-form {
    display: inline;
    text-align: center;
}
#hom {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 100px;
    margin-top: 40px;
}
#hom:hover {
    background-color: darkorchid;
}
.hom-form {
    display: inline;
}
#hom {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 310px;
    margin-top: 40px;
}
#hom:hover {
    background-color: darkorchid;
}
.fem-form {
    display: inline;
}
#fem {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 100px;
    margin-top: 40px;
}
#fem:hover {
    background-color: darkorchid;
}
.aut-form {
    display: inline;
}
#aut {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 100px;
    margin-top: 40px;
}
#aut:hover {
    background-color: darkorchid;
}
.content {
    display: flex;
    justify-content: center;
}
.box-form {
        display: inline;
}
#box {
        color: black solid cornflowerblue;
        background-color: transparent;
        padding: 10px 40px;
        cursor: pointer;
        border-radius: 7px;
        border-color: cornflowerblue;
        margin-left: 100px;
        margin-top: 40px;
}
#box:hover {
        background-color: darkorchid;
}
.interess {
    text-align: center;
    text-decoration: black;
    margin-left: 350px;
    margin-top: 25px;
    font-style: italic;
}
.count {
    display: flex;
    justify-content: center;
}
.boss-form {
    display: inline;
}
#boss {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: -80px;
    margin-top: 40px;
}
#boss:hover {
    background-color: darkorchid;
}
.two-form {
    display: inline;
}
#two {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 100px;
    margin-top: 40px;
}
#two:hover {
    background-color: darkorchid;
}
.hom1-form {
    display: inline;
}
#hom1 {
    color: black solid cornflowerblue;
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 7px;
    border-color: cornflowerblue;
    margin-left: 750px;
    margin-top: 40px;
}
#hom1:hover {
    background-color: darkorchid;
}
.conf-form {
    display: inline;
}
#conf {
    background-color: transparent;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 25px;
    border-color: cornflowerblue;
    margin-left: 380px;
    margin-top: 40px;
    background-color: blueviolet;
}
#conf:hover {
    background-color: deeppink;
}
.logo1 {
    width: 120px;
    height: 75px;
    border-radius: 45px;
    border-width: 2px;
    background-color: blueviolet;
    text-align: end;
    margin-left: 1350px;
}