<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recherche de profils</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <form method="GET" action="{% url 'recherche_profiles' %}">
        {{ form.as_p }}
        <input type="submit" value="Soumettre" class="btn btn-primary">
    </form>
    {% for profile in utilisateurs %}
        <p>Nom: {{ profile.utilisateur.nom }}</p>
        <p>Email: {{ profile.utilisateur.email }}</p>
        <p>Photo: <img src="{{ profile.photo.url }}" alt="Photo de profil"></p>
        <p>Âge: {{ profile.age }}</p>
        <p>Taille: {{ profile.height }}</p>
        <p>Sexe: {{ profile.sex }}</p>
        <p>Orientation: {{ profile.orientation }}</p>
        <p>Type de corps: {{ profile.body_type }}</p>
        <p>Régime: {{ profile.diet }}</p>
        <p>Boissons: {{ profile.drink }}</p>
        <p>Drogues: {{ profile.drugs }}</p>
        <p>Éducation: {{ profile.education }}</p>
        <p>Localisation: {{ profile.location }}</p>
        <p>Enfants: {{ profile.offspring }}</p>
        <p>Fume: {{ profile.smokes }}</p>
        <p>Bio: {{ profile.bio }}</p>
    {% endfor %}

</body>
</html>